{:source-paths ["src"]
 :dependencies [[cljs-http "0.1.48"]]
 :builds
 {:chart {:target :browser
          :output-dir "resources/public/js"
          :asset-path "/js"
          :modules {:main {:entries [domain-name-flow.chart]}}
          :js-options
          {:js-provider :external
           :external-index "resources/js/shadow.js"
           :external-index-format :esm}}}}
